.area {
  width: 55px;
  height: 55px;
  background-color: rgb(255, 249, 244);
  border: 5px solid rgb(255, 234, 216);
  position: absolute;
  z-index: 1;
  user-select: none;
}
.area-open.area-mine {
  background-color: rgb(255, 89, 89);
  border: 5px solid rgb(212, 62, 62);
  background-image: url(texture/mine.png);
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 11;
}
.area-open {
  background-color: rgb(255, 249, 244);
  border: 5px solid rgb(255, 234, 216);
}
.around-1, .around-2, .around-3, .around-4, .around-5, .around-6, .around-7, .around-8 {
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: Arial;
  font-weight: 600;
}
.around-1 {
  background-color: rgb(255, 245, 245);
  border: 5px solid rgb(255, 225, 225);
  color: rgb(255, 181, 181);
  z-index: 2;
}
.around-2 {
  background-color: rgb(255, 229, 229);
  border: 5px solid rgb(253, 207, 207);
  color: rgb(255, 157, 157);
  z-index: 3;
}
.around-3 {
  background-color: rgb(255, 208, 208);
  border: 5px solid rgb(255, 189, 189);
  color: rgb(255, 124, 124);
  z-index: 4;
}
.around-4 {
  background-color: rgb(255, 196, 196);
  border: 5px solid rgb(255, 172, 172);
  color: rgb(219, 80, 80);
  z-index: 5;
}
.around-5 {
  background-color: rgb(255, 186, 186);
  border: 5px solid rgb(255, 160, 160);
  color: rgb(189, 59, 59);
  z-index: 6;
}
.around-6 {
  background-color: rgb(255, 172, 172);
  border: 5px solid rgb(255, 145, 145);
  color: rgb(176, 44, 44);
  z-index: 7;
}
.around-7 {
  background-color: rgb(255, 157, 157);
  border: 5px solid rgb(255, 131, 131);
  color: rgb(152, 31, 31);
  z-index: 8;
}
.around-8 {
  background-color: rgb(255, 146, 146);
  border: 5px solid rgb(255, 121, 121);
  color: rgb(152, 31, 31);
  z-index: 9;
}
.area-close {
  background-color: rgb(255, 160, 113);
  border: 5px solid rgb(225, 127, 58);
  background-image: url();
  color: rgba(0, 0, 0, 0);
  z-index: 10;
}
.tools {
  position: absolute;
  width: inherit;
  height: 100px;
  background-color: rgb(232, 232, 232);
  border: 5px solid rgb(196, 196, 196);
  z-index: 20;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}
body {
  background-color: rgb(246, 246, 246);
  margin: 0px;
  box-sizing: border-box;
  overflow-y: hidden;
}
.tools button {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 249, 244);
  border: 5px solid rgb(210, 167, 129);
  transition: 0.2s;
}
.tools button.active {
  background-color: rgb(255, 160, 113);
  border: 5px solid rgb(225, 127, 58);
  transform: scale(0.9);
}
.tools button.iftrue {
  background-color: rgb(255, 160, 113);
  border: 5px solid rgb(225, 127, 58);
  transform: scale(0.9);
}
#tools__flag {
  background-image: url(texture/flag.png);
  background-size: 100%;
  image-rendering: pixelated;
}
#tools__reset {
  background-image: url(texture/reset.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
#tools__info {
  background-image: url(texture/book.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
#tools__vk {
  background-image: url(texture/VK.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
#tools__add {
  background-image: url(texture/add.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
#tools__best {
  background-image: url(texture/best.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
#tools__menu {
  background-image: url(texture/menu.png);
  background-size: 100%;
  image-rendering: pixelated;
  margin-left: 50px;
}
.area.flag {
  background-image: url(texture/flag.png);
  background-size: 100%;
  image-rendering: pixelated;
}
.area.win-theme {
  background-color: rgb(223, 255, 224);
  border: 5px solid rgb(128 244 118);
  color: #4ec24e;
}
.area-mine.win-theme {
  background-color: rgb(113, 255, 118);
  border: 5px solid rgb(72, 225, 58);
  color: green;
}
.area-first.area-close {
    background-color: rgb(255, 236, 201);
    border: 5px solid rgb(255, 198, 155);
    z-index: 50;
}
.instruction {
  width: 610px;
  height: 400px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
  margin-top: 100px;
  background-image: url(texture/instruction.png);
}
#game {
  display: flex;
  position: relative;
  width: 824px;
  height: 720px;
  transition: 0.2s;
}
.menu .button {
  background-color: rgb(255, 160, 113);
  border: 5px solid rgb(225, 127, 58);
  min-height: 40px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.256));
  margin-bottom: 30px;
  cursor: pointer;
}
.menu {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
  flex-direction: column;
}
.hidden, .button.hidden {
  display: none;
}
