body {
    margin: 0px;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
#game {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(1, 0, 88);
    overflow: hidden;
    background-image: url(../textures/background/background.png);
    background-repeat: repeat;
    background-size: 400px;
    position: relative;
    transition: 0.1s;
    display: flex;
}
.entity {
    position: absolute;
    z-index: 5;
}
.packman {
    width: 50px;
    height: 50px;
    background-color: #ffa500;
    border-radius: 1000000px;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-image: url(../textures/entity/packman.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-size: 25px;
}
.packman p {
    position: absolute;
    top: -75%;
}
.drop {
    border-radius: 1000000px;
    width: 15px;
    height: 15px;
    background-color: aqua;
    position: absolute;
    filter: drop-shadow(0px 0px 3px aqua);
}
.game__border {
    position: absolute;
    border: 10px dotted red;
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 1));
}
.ghost {
    width: 50px;
    height: 50px;
    background-image: url(../textures/entity/ghost.png);
    background-repeat: no-repeat;
    position: absolute;
    filter: drop-shadow(0px 0px 5px aqua);
}
.game__area {
    position: absolute;
    transition: 0.1s;
}
.entity, .ghost, .drop {
    transition: 0.1s;
}
.game__container {
    height: 100vh;
}
.page {
    position: absolute;
    background-color: rgba(0, 70, 124, 0.669);
    border: 5px solid rgb(0, 70, 124);
    border-radius: 7px;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: column;
}
.leaderboard {
    width: 250px;
    min-height: 400px;
    right: 0px;
}
.page h2 {
    font-size: 30px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
.leaderboard ul {
    padding-left: 0px;
    list-style: none;
    font-size: 20px;
}
.leaderboard ul li {
    margin-bottom: 10px;
}
.game__menu {
    position: relative;
    width: 800px;
    height: 500px;
    padding: 30px;
    margin: auto;
}
.button {
    background-color: rgba(0, 113, 199, 0.669);
    border: 3px solid rgb(0, 126, 222);
    padding: 10px;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.page.leave {
    padding: 10px;
    border-radius: 5px;
    bottom: 0px;
}
#gamestart {
    margin-top: auto;
}
.menu__form {
    margin-top: 20px;
}
.menu__form input, .menu__form button {
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
    box-sizing: border-box;
}
.menu__form input {
    width: 250px;
}
.menu__form button {
    cursor: pointer;
}
.menu__form button:active {
    background-color: rgb(201, 201, 201);
}
.menu__bottom {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.menu__left {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__right {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.page.learn {
    background: #003F6D url(../textures/images/learn.png) ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}